@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header{
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),
    url(../img/hero-small.jpg);
    margin: 30px;
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header-logo-white{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;;
}
.header-logo-white img{
    width: 70px;
}

.header-text-part{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 10px;
}

.the-text{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4.5em;
    text-align: center;
    font-family: "Lato", sans-serif ;
}


.first-text{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2rem;
}

.second-text{
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.btn, .btn:link{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 16px;
    
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    color: #777;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #777 !important;
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    
}

.btn--white::after {
    background-color: #fff;
    
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    
}

.btn--animated {
    animation: moveInBottom 0s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.btn--white{
    background-color: white;
    color: #777;} */

 .btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards
} 

 .navigation-button{
    background-color: white;
    height: 4.5rem;
    width: 4.5rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-background{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    background-image: radial-gradient(#7ed56f, #28b485);
    top: 5rem;
    right: 5rem;
    z-index: 1000;
    transition: all 0.5s cubic-bezier(0.86,0,0.07, 1);
}

/*Nav Icon*/
.navigation__icon{
    position: relative;
    margin-top: 1px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after{
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;

}

.navigation__icon::before,
.navigation__icon::after{
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.navigation__icon::before{
    top: -10px;

}
.navigation__icon::after{
    top: 10px;
}
.navigation__checkbox{
    display: none;
}
.navigation-button:hover .navigation__icon::before{
    top: -12px;
}
.navigation-button:hover .navigation__icon::after{
    top: 12px;
}
.nav__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
    z-index: 1500;
    transition: all 0.8 cubic-bezier(0.68, -0.55, 0.256, 1.55);
}
.nav__link{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding:20px;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    transform: all 0.4s;
}

.nav__link:link, .nav__link:visited {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    -webkit-transition: all .4s;
    transition: all .4s;

}
.nav__link:hover{
    color: #55c57a;
    transform: translateX(10px);
    background-color: white;
}

.navigation__checkbox:checked ~ .nav{
    opacity: 1;
    visibility: visible;
    width: 100%;
    -webkit-animation-name: left-slide;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes left-slide{
    0%{
        left: -100%;
    }
    50%{
        left: 10%;
    }
    100%{
        left: 0%;
    }
}

.navigation__checkbox ~ .nav{
    opacity: 1;
    width: 100%;
    -webkit-animation-name: right-slide;
    -webkit-animation-duration: 0.4s;
}

@-webkit-keyframes right-slide{
    0%{
        left: 0%;
    }
    50%{
        left: 10%;
    }
    100%{
        left: -100%;
    }
}

.navigation__checkbox:checked ~ .nav-background{
    transform: scale(100);
}
.navigation__checkbox:checked + .navigation-button .navigation__icon{
    background-color: transparent;
}
.navigation__checkbox:checked + .navigation-button .navigation__icon::before{
    top: 0;
    transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation-button .navigation__icon::after{
    top: 0%;
    transform: rotate(-135deg);
}
.section-about {
    background-color: #f7f7f7;
    padding: 15rem 0;
    margin-top: -30vh;
    margin-left: 30px;
    margin-right: 30px;
    height: 95vh;
}

.col-1-of-2{
    width: calc((100% - 6rem) / 2);
    float: left;
}
.colon-2{
    margin-left: 70px;
}
.composition{
    position: relative;
    
}
.composition__photo{
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 0.8rem;
}
.composition__photo--p1{
    left: 0;
    top: -2rem;
}
.composition__photo--p1:hover{
    transform: scale(1.1);
    outline: 0.8rem solid #28b485;
    z-index: 20;
}

.composition__photo--p2{
    right: 0;
    top: 2rem;
}
.composition__photo--p2:hover{
    transform: scale(1.1);
    outline: 0.8rem solid #28b485;
    z-index: 20;
}

.composition__photo--p3{
    left: 20%;
    top: 10rem;
}
.composition__photo--p3:hover{
    transform: scale(1.1);
    outline: 0.8rem solid #28b485;
    z-index: 20;
}

.u-center-text{
    text-align: center !important;
}
.second-header{
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.second-header:hover{
    transform:  skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 20%);
}

.row{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 50px;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    color: #777;
}

.paragraph{
    margin-bottom: 50px;
    color: #777;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
}

.btn-text{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s;
}

.second-section{
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),
    url(../img/hero2-image.jpg);
    margin: 30px;
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;
    transform: skewY(-7deg);
    margin-top: -10rem;
}
.section-features>* {
    transform: skewY(7deg);
}
.row .col-1-of-4 {
    float: left;
    margin-top:180px ;
    margin-left: 50px;
    height: 16rem;
    width: calc((100% - 3 * 6rem) / 4);
    background-color: #f7f7f7b8;
}
.row .col-1-of-4:hover{
    transition: 0.5s;
    transform: translateY(-20px);
}
.feauture-box{
    /* background-color: #f7f7f7b8; */
    font-size: 16px;
    margin-top: 12px;
    padding: 0rem;
    text-align: center;
    border-radius: 3px;
    color:#777;
    transition: transform .3s, -webkit-transform .3s;
}
.feature-box__icon {
    font-size: 5rem;
    margin-bottom: 0.2rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}
.section-tours {
    background-color: #f7f7f7;
    padding: 15rem 0;
    margin-top: -30vh;
    margin-left: 30px;
    margin-right: 30px;
    height: 95vh;
}

.row .col-1-of-3 {
    padding-left: 50px;
    float: left;
    width: calc((100% - 2 * 6rem) / 3);
}

.card {
    perspective: 150rem;
    position: relative;
    height: 35rem;
}
.card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgb(0 0 0 / 15%);
}
.card__side--front {
    background-color: #fff;
}
.card__picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),url(../img/nat-5.jpg);
}
.card__picture--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485),url(../img/nat-6.jpg);
}
.card__picture--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa),url(../img/nat-7.jpg);
}
.card__picture {
    background-size: cover;
    height: 13rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card__heading {
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    width: 75%;
    line-height: 50px;
    font-family: "Lato", sans-serif;
}
.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255,185,0,0.85), rgba(255,119,48,0.85));
}
.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.85), rgba(40,180,133,0.85));
}
.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(41,152,255,0.85), rgba(86,67,250,0.85));
}
.card__details {
    padding: 30px;
    margin-right: 35px;
}

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: #777;
}
.line{
    border-bottom: 1px solid #eee;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
.card__side--front, .card__side--back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card__side--back-1 {
    transform: rotateY(180deg);
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
    transform: rotateY(180deg);
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
    transform: rotateY(180deg);
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}
.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.card__price-only {
    font-size: 20px;
    text-transform: uppercase;
}
.card__price-value {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 40px;
}

.btn--green{
    background-color:#55c57a;
    color: #fff !important;
}

.btn--green::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color:#55c57a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    
}

.btn--green:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color:#55c57a;
    color: rgb(255, 255, 255) !important;
}